
/*     made ith love---*/

body
{
	margin: 0px;
	padding: 0px;

}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.navbar 
{
	background: #2d3e36;
	box-shadow: 2px 4px 6px 3px #2b473a;
}

.navbar-toggler-icon
{
	background:gold;
	border-radius: 7px;
	border: 3px double white;

}

.navbar .navbar-brand
{
	color: gold;
	text-transform:uppercase ;
	font-weight: 300px;
	font-family: monospace;
	font-size: 25px;
}

.navbar img
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.navbar .navbar-nav .nav-item .nav-link
{
	transition: 1s;
	color: white;
	text-transform:uppercase ;
	font-size: 20px;
	font-family: 'Bokor', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
}
.navbar .navbar-nav .nav-item .nav-link:hover
{
	color: gold;
	transform: scale(1.2);
}

.form-inline .nav-link .fas
{
	color: white;	
} 

.form-inline a[href="signup.htm"]
{
	color: white;
	font-size: 16px;
	border: 2px solid gold;
	border-radius: 5px;
}

.form-inline a[href="signup.htm"]:hover
{
	color:white;
	background: gold;
	font-weight: bold;
}

.form-inline .nav-link .fas:hover
{
  color: gold;

}

.second_section
{
   background: #2b473a;

}

.content
{
	padding: 10px;

}
.content h1
{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 38px;
	font-weight: 200;
	padding: 7px;

}
.slider
{
	padding: 10px;
	margin: 10px;
}

.content p
{
	color: white;
	font-family:sans-serif;
	font-size: 18px;
	padding: 5px;
	text-align: justify;
}
.carousel-inner .carousel-item img
{
	border-radius: 7px;
	width: 90%;
	height:370px;
}
.carousel-indicators li
{
	 width: 10px;
  height: 10px;
  border-radius: 100%;
  position: relative;
  bottom: -10px;
  right: -75px;
}

.card .card-img-top
{
	width: 100%;
	height: 250px;
}

@media only screen and (max-width: 600px)
{
	.card .card-img-top
{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
}
#element
{
	display: none;
}

.card
{
	margin-top: 10px;
}

.img_bg
{
	
	height:auto;
	width: 100%;
	margin: 0px;
	border-radius: 0px 10px 10px 0px;
	padding: 0px;
	background-position: center;
	background-size:100% 100%;

}
.bg_garden
{
	background:#2b473a;
	border-radius: 10px;
}

.card:hover
{
	box-shadow: 4px 4px 4px 4px #2b473a;;
	transform: scaleX(1.0);
}

.garden
{
	padding: 30px;
}
.garden h2
{
    color: white;
   font-family: monospace;, sans-serif;
    padding: 7px;
    font-size: 30px;
    text-align: justify;
}
.garden p
{
	color:gold;
	font-family: cursive;
	padding: 5px;

}

.btn-secondary
{
	background: rgba(0, 0, 0,0.3);
	outline: none;
     padding: 6px 18px;
	border-radius: 7px;
}

.view_more:hover
{
   cursor:hand;
   color:white;
   border-radius: 10px;
   transform: scale(1.1);
   background:#2b473a;
}

.footer
{
	background:#2b473a ;
	padding: 20px;
}
.footer a
{
	color: gold;
	font-weight: bold;
    font-size: 20px;
	text-transform:uppercase;
	text-align: justify;
}

.footer p{
	color: white;
}

.footer .fab
{
	color: white;
	font-size: 25px;
	padding: 5px;
	font-weight: 150;	
}

.footer .fab:hover
{
	color: gold;
	transform: scale(1.1);
}

.footer img
{
	border-radius: 50%;
	color: gold;
	text-transform: uppercase;
	padding: 2px;
	font-size: 30px;
	font-weight: 200;
}

.footer span 
{
	color: white;
	font-size: 20px;
    font-family: cursive;
}

.footer span i
{
	color: white;

}

.footer_2nd
{
	background: #2d3e36;
}
.footer_2nd p
{
	text-align: center;
	color: whitesmoke;
	font-weight: 100;
	word-spacing: 2px;
}

.about_us_bg
{
	background: #2b473a;
	padding: 10px;
}

.about_content h1
{
	color: white;
	font-size: 30px;
	font-family: monospace;, sans-serif;
	font-weight: 200;
	padding: 7px;
}

.about_us_bg .about_content p
{
	color: white;
	font-size: 20px;
	padding: 5px;
	font-weight: 100;
	text-align: justify;
}

.about_us_bg .about_img
{
	
	width: 100%;
	height:350px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 5px;

}

.about_head_title h2
{
	 font-family:cursive sans-serif;
  color:white;
  margin: 15px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  max-width: 800px;
  position: relative;
  
}

.about_head_title h2:before
{
	   content: "";
        display: block;
        width: 160px;
        height: 5px;
        background:gold;
        left: 0;
        top: 50%;
        position: absolute;

}


.about_head_title h2:after
{
	content: "";
        display: block;
        width: 160px;
        height: 5px;
        background: gold;
        right: 0;
        top: 50%;
        position: absolute;
}

.about_2nd_bg
{
	background: #2b473a;
	padding: 15px;

}

@media only screen and (max-width: 700px)
{
	about_2nd_bg .about_2nd_inner img
{
    width: 100%;
    height: auto;
}


.div1 img
{
	 width: 100%;
	 height: auto;
	 margin: 10px;
	 	 

}
}

.about_2nd_bg .about_2nd_inner img
{
    width: 100%;
    height: auto;
    border-radius: 7px;
    transition: 1s;

}

.about_2nd_bg .about_2nd_inner img:hover
{
	transform: scale(1.1);
}

 .div1 img
{
	 width: 100%;
	 height: 320px;
	 margin: 10px;	 
    border-radius: 7px;
    transition: 1s;
}

.div1 img:hover
{
	transform: translateY(10px);
	border-radius: 50%;
}

.about_last
{
   background: #2b473a;
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
   box-shadow: 3px 4px 5px 4px #2d3e36;
}
.about_last .about_last_inner h2
{
	
	color: whitesmoke;
	font-family: monospace;
	font-weight: 200;
	text-transform: uppercase;
     font-display: optional;
	padding: 3px;
}

.about_last li
{
	 color: white;
	 list-style-type: none;
	 font-size: 18px;
	 border: 1px solid white;
	 width: 40px;
	 text-align: center;
	 font-weight: bold;
	 padding: 3px;
}

.about_last p
{
	text-align: justify;
	color: white;
	padding: 5px;
}

.gallery_bg
{
	background: #2b473a;
	padding:10px ;
	margin-top: 15px;
	border-radius: 20px;
}

.gallery_bg h2
{
	color: white;
	padding: 10px;
	text-align: left;
	font-size: 30px;
	font-family: monospace;
	font-weight: bold;
}
.gallery_bg p
{
   color: white;
   font-size: 16px;
   font-family: monospace;
   text-align: justify;
   word-spacing: 5px;
   padding: 7px;
}

.gallery_bg .thumbnail
{
	 width: 100%;
	 height: 300px;
}



.img-thumbnail img
{
   width: 100%;
   height: 300px;
   filter: blur(3px);
} 

.img-thumbnail caption
{
	text-align: center;
	color: gold;
	font-size: 20px;
	font-weight: bold;
	font-family: serif;
}

@media only screen and (max-width: 700px)
{
.img-thumbnail img
{
   width: 100%;
   height: auto;
   margin-top: 10px;
   box-shadow: 3px 3p 3px 3px light lightgray;
} 

.img-thumbnail
{
	margin-top: 12px;
} 
}

.img-thumbnail:hover img
{
	 filter: hue-rotate(90deg);
	transform:translate(10px) scale(1.1);
	color: gold;
}

.gallery_2nd_slider
{
	background: #2b473a;
	padding: 15px;
	border-radius: 20px;
	margin-top: 20px;
	box-shadow: 6px 7px 5px 4px #2b473a;
}

.gallery_2nd_slider p
{
	color: white;
	padding: 7px;
	font-size: 18px;
}

.gallery_2nd_slider h3
{
	font-size: 28px;
	font-family: serif;
	font-weight: 200;
	padding: 3px;

}

.gallery_2nd_slider1
{  
	padding: 7px;
	background:lightgreen;
	border-radius: 10px;
}

#contact
{
	margin-top: 20px;
}
  
#contact img
{
	width: 100%;
	height: auto;
}

.form-group label
{
	color:#2b473a ;
	font-size: 20px;
	font-weight: bold;font-family: monospace;
}

.form-group input[type="text"],input[type="email"],input[type="tel"]
{
	width: 100%;
	height: 40px;
	border-radius: 7px;
	border: 2px solid #2b473a ;

}

.form-group textarea
{
	width: 100%;
	border-radius: 7px;
	border: 2px solid #2b473a ;
}

.col-md-12 p span
{
	 padding:7px;
	 font-size: 20px;
	 margin: 7px;
}
.col-md-12 p span i
{
	font-size: 30px;
	font-weight: bold;
	background:#2b473a ;
	padding: 5px;
	border-radius: 5px;
}

.contact_title
{
	background:#2b473a ;
	border-radius: 20px;
}

.card-registration {
  background: #2b473a;
}

.gradient-custom .form-outline input[type="text"],input[type="email"],input[type="tel"]
{
	width: 100%;
	height: 40px;
	border-radius: 7px;
	

}


.card-registration label,h3,h6
{
	color: white;
	font-size: 20px;
	padding: 5px;
}

.card-registration h3
{
	border-bottom: 3px solid gold;
	width: 50%;
	font-size: 30px;
	padding: 7px;
	font-family: sans-serif;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.gradient-custom 
{
	background: rgba(50, 77, 59);
	box-shadow: 6px 6px7px 5px #2b473a  ;
}
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity:0.8;
}

#loading-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  
}

* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.open-button {
  background-color:#2b473a;
  color: white;
  border: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  padding: 10px;
  border-radius: 40px 40px 40px 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: 1s;
}

.open-button:hover
{
	transform: scale(1.1);
	background: olive;
	color: white;
}

/* The popup chat - hidden by default */
.chat-popup {
 display: none;
 border-radius: 15px;
  position: fixed;
  bottom: 0;
  padding: 7px;
  right: 15px;
  border: 3px solid gold;
  background: #2b473a;
  color: white;
}
.flex
{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	justify-content: space-around;
   align-items: center;
}



.flex .sub
{
	
	height: auto;
	width: 20%;
	background:#2b473a;
	border-radius: 10px;
	box-shadow: 4px 4px 4px lightblue;
	border-bottom: 8px solid gold;
    text-align: center;
    padding: 10px;
    transition: 1s;
}

.flex .sub:hover
{
	transform: scalex(1.1);
	background: greenyellow;
}

@media only screen and (max-width:640px)
{

	.flex
{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
	justify-content: space-around;
   align-items: center;
}

.sub
{
	
	height: 200px;
	width: 100%;
	background:#2b473a;
	border-radius: 10px;
	box-shadow: 4px 4px 4px lightblue;
	border-bottom: 8px solid gold;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  transition: 1s;
}

}

.flex span
{
	color: white;
	font-family: monospace;
	font-size: 18px;
}

.flex .sub p{
	color: yellow;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	font-size: 20px;
   
}

@media only screen and (max-width:600px)
{

.flex .sub
{
    display: block;	
	height:auto;
	width: 100%;
	background:#2b473a;
	border-radius: 10px;
	box-shadow: 4px 4px 4px lightblue;
	border-bottom: 8px solid gold;
    text-align: center;
    padding: 10px;
    transition: 1s;
}


}




.carousel-cell {
  width: 30%;
  height: 200px;
  margin-right: 10px;
   padding: 7px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  background:;
  margin: 15px;
}

.carousel-cell img
{
	width: 100%;
	height: 200px;
}



.contact_map
{
	border-radius: 20px;
	padding: 12px;
	background:#2b473a;
}

.dark-mode {
  background-color: black;
  color: gold;
}


/* cell number */


